# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

venv
venv/*
venv*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env
firebase-key.json
*.log
*.json
prediction-backend/
prediction-flask-backend/
Agents/


cookies.txt
cors.json
interaction_logs.ipynb
Agents/*
ai-backend/
base-backend/
src/ai/
sync-server/
test.py
text.txt
tldraw/
phase_results/
__pycache__